body {
  margin: 20px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select, button, input {
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}

.cell.active {
  background-color: #3498db;
}

.cell.disabled {
  background-color: #e74c3c;
}

.cell.human {
  background-color: #27ae60;
}

.field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  flex-basis: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.paper {
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.spinner-wrap {
  display: flex;
  justify-content: center;
}